name: CI on Pull Request

on:
  pull_request:

jobs:
  test-build-linux:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix:
        os: [ linux ]
        arch: [ amd64, arm64 ]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'

      - name: Set environment variables
        run: |
          echo "GOARCH=${{ matrix.arch }}"             >> "$GITHUB_ENV"
          echo "GOOS=${{ matrix.os }}"                 >> "$GITHUB_ENV"

      - name: Build and test
        run: make ci

  test-build-windows:
    strategy:
      matrix:
        os: [ windows ]
        platform: [ windows-2022 ]
        arch: [ amd64 ]
    runs-on: ${{ matrix.platform }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'

      - name: Set environment variables
        run: |
          echo "GOARCH=${{ matrix.arch }}"             >> "$GITHUB_ENV"
          echo "GOOS=${{ matrix.os }}"                 >> "$GITHUB_ENV"

      - name: Build and Test
        run: make ci
