name: CI

on:
  pull_request:
    types: [opened, synchronize, reopened, labeled, unlabeled]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build-test-linux:
    name: Build and Test (Linux)
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix:
        arch: [amd64, arm64]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
          check-latest: true
          cache: true

      - name: Set environment variables
        run: |
          echo "GOARCH=${{ matrix.arch }}" >> "$GITHUB_ENV"
          echo "GOOS=linux" >> "$GITHUB_ENV"

      - name: Verify
        run: make verify

      - name: Build
        run: make build

      - name: Test
        run: make test

  build-test-windows:
    name: Build and Test (Windows)
    runs-on: windows-2022
    permissions:
      contents: read
    strategy:
      matrix:
        arch: [amd64]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
          check-latest: true
          cache: true

      - name: Set environment variables
        run: |
          echo "GOARCH=${{ matrix.arch }}" >> "$env:GITHUB_ENV"
          echo "GOOS=windows" >> "$env:GITHUB_ENV"

      - name: Verify
        run: make verify

      - name: Build
        run: make build

      - name: Test
        run: make test
